
<% const APP_VERSION = require("fs").readFileSync("./VERSION", "utf-8").replace(/\r|\n/ig, "") %>

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="keywords" content="平安好医生、平安好医生健康商城">
    <meta name="description" content="平安好医生，是中国平安旗下全资子公司平安健康推出的在线健康咨询及健康管理网站，以医生资源为核心，为用户提供一站式挂号及健康问诊服务。">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta http-equiv="Page-Enter" contect="revealTrans(duration=1.0,transtion=12)"> 
    <!-- <meta http-equiv="expires" content="0"> -->
    <!-- <meta http-equiv="cache-control" content="no-cache">   -->
</head>
<body>
    <div id="root"></div>
    <% if (!__SERVE__) { %>
        <script>
            // 性能监控
            __SENTRY_CONFIG__ = {
                appName: 'html-collection',
                persistence: true,
                ver: '<%= APP_VERSION %>'
            }
            // 打点
            window.beacon = {
                PROJECT: 'html-collection_h5'
            };
        </script>
    <% } %>
</body>
</html>
